
{% set books_active = 1 %}
{% extends 'layout.html.twig' %}

{% block contents %}

    {% if returnSuccess is defined %}
        <div class="alert alert-success loginsuccess">
            L'exemplaire a bien été retourné
        </div>
    {% endif %}

    {% for book in detailsBooks %}
        <div class="row">
            <div class="col-md-3">
                <img src="{{ app.request.basepath }}/uploads/{{ book.image }}.jpg" />
            </div>
            <div class="col-md-4">
                <div class="row" id="bookTitle">
                    <span class="bookTitle">{{ book.titre }}</span>
                </div>
                <div class="row">
                    <p><span class="prefix">Synopsis :</span> {{ book.synopsis }}</p>
                </div>
            </div>
            <div class="col-md-5">
                <p class="bookTitle centered">Exemplaires existants de ce livre</p>
                <span>Il existe actuellement <span class="prefix">{{ copiesNumber }}</span> exemplaires de ce livre, dont <span class="prefix">{{ holdCopies }}</span> disponibles.</span>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Identifiant</th>
                        {% if app.session.get('admin') %}
                            <th>Emprunter ?</th>
                        {% endif %}
                        {% if app.session.get('admin') %}
                            <th>Retourner ?</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                        {% for copy in bookCopies %}
                            <tr>
                                {% if copy.hold == 1 %}
                                    <td class="hold">{{ copy.id }} (Réservé)</td>
                                {% else %}
                                    <td>{{ copy.id }}</td>
                                {% endif %}

                                {% if app.session.get('admin') %}
                                    <td>
                                        <a href="{{ path('borrow',{'copyId': copy.id }) }}" class="btn btn-info btn-sm" role="button">Emprunter</a>
                                    </td>
                                {% endif %}
                                {% if app.session.get('admin') and copy.hold == 1  %}
                                    <td>
                                        <a href="{{ path('endBorrow',{'copyId': copy.id }) }}" class="btn btn-success btn-sm" role="button">Retourner</a>
                                    </td>
                                {% else %}

                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    {% endfor %}
{% endblock %}


































{#
{% set books_active = 1 %}
{% extends 'layout.html.twig' %}


{% block contents %}
{% for book in books %}
<a class="book" href="#">
    {% if book.image %}
        <img src="{{ app.request.basepath }}/uploads/{{ book.image }}_small.jpg" />
    {% endif %}
    <span class="t">{{ book.titre }} </span><br>
    <em>{{ book.auteur }}<em></br>
    </br><p href="ficheLivre.html.twig" onclick="document.open(this.href); return false;">Fiche livre</p>
</a>
{% endfor %}
{% endblock %}
#}
